@font-face {
    font-family: "Graphik";
    src: url("/fonts/Graphik-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Semibold";
    src: url("/fonts/Graphik-Semibold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}